.Offers {
  background-color: #fef2e2;
  .title {
    font-weight: 700;
    color: #1a3d6d;
  }
  .code {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .discount {
    font-weight: 900;
    color: #1a3d6d;
  }
  p {
    color: #1a3d6d;
  }
}
